<!DOCTYPE html>
<html lang="en">
    <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        </head>
        <body>
                <div class="container register">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>You are 30 seconds away from earning your own money!</p>
                        <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
                            <br/>
                        </div>

                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                            <h3 class="register-heading">TICKETEER</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="fname" class="form-control" placeholder="First Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="mname" class="form-control" placeholder="Middle Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" [(ngModel)]="lname" class="form-control" placeholder="Last Name *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <select [(ngModel)]="role" class="form-control">
                                            <option value="0">BUYER</option>
                                            <option value="1">SELLER</option>
                                        </select>
                                    </div>
                                    </div>

                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" [(ngModel)]="email" class="form-control" placeholder="Your Email *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password *" value="" />
                                    </div>
                                    <div class="form-group">
                                    <input type="password" [(ngModel)]="confirm_password" class="form-control" placeholder="Confirm Password *" value="" />
                                </div>
                                <button type="submit" class="btnRegister" (click)="registerAccount()">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
    